{% extends 'MedicalOfficer/Header.html' %}
{% load static %}
{% block content %}
<form action="" method="post">
        <table align="center" border="5" width="95%">
            <tr align="center">
                <td>Sl No:</td>
                <td>Name</td>
                <td>Clinic Photo</td>
                <td>Address</td>
                <td>Contact</td>
                <td>Certificate</td>
                <td colspan="2">Action</td>
            </tr>
            {% for i in clinic %}
            <tr align="center">
                <td>{{ forloop.counter }}</td>
                <td>{{i.clinic.clinic_name}}</td>
                <td><img src="{{i.clinic.clinic_photo}}" width="150" height="150" alt=""></td>
                <td>{{i.clinic.clinic_address}}</td>
                <td>{{i.clinic.clinic_contact}}</td>
                <td><img src="{{i.clinic.clinic_certificate}}" width="150" height="150" alt=""></td>
                <td><a href="{% url 'webmedicalofficer:acceptclinic' i.id %}">Accept</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
{% endblock content %}