{% extends 'Clinic/Header.html' %}
{% load static %}
{% block content %}
<body>
    <h1 style="text-align: center;">Add Slot</h1>
    <div class="card2">
        <form action="" method="post">
            {% csrf_token %}
            <div style="display: flex; align-items: center; flex: 1; font-weight: bold; color: #000;">
                <div style="flex: 1; font-weight: bold; color: #000;">
                <label for="sel_time">Time</label>
                <select name="sel_time" id="sel_time">
                    <option value="">...Select...</option>
                    {% for i in time %}
                    <option {% if i.id == consultingdata.time_id %} selected {% endif %} value="{{i.id}}">
                        {{i.time.time_from}} - {{i.time.time_to}}
                    </option>
                    {% endfor %}
                </select>
                <label for="sel_day">Day</label>
                <select name="sel_day" id="sel_day">
                    <option value="">...Select...</option>
                    {% for i in day %}
                    <option {% if i.id == consultingdata.day_id %} selected {% endif %} value="{{i.id}}">
                        {{i.day.day_name}}
                    </option>
                    {% endfor %}
                </select></div>
            </div>
            <br>
            <div style="display: flex; align-items: center; flex: 1; font-weight: bold; color: #000;">
                <div style="flex: 1; font-weight: bold; color: #000;">
                <label for="txt_fee">Doctor Fee</label>
                <input type="text" name="txt_fee" id="txt_fee" value="{{consultingdata.consulting_fee}}">
                <label for="txt_token">Doctor Token</label>
                <input type="text" name="txt_token" id="txt_token" value="{{consultingdata.doctor_token}}">
                <input type="submit" value="Add"></div>
            </div>
        </form>
    </div>
    
    <div class="card2">
        {% for i in consultingdetails %}
        <div style="display: flex; align-items: center; margin-bottom: 10px; font-weight: bold; color: #000;">
            <div style="flex: 1;">
            
                <span class="item-label">Day:</span>
                <span class="item-value">{{ i.daydata.day_name }}</span></div>
                <div style="flex: 1;">
            
                <span class="item-label">Time:</span>
                <span class="item-value">{{ i.timedata.time_from }} -- {{ i.timedata.time_to }}</span></div>

                <div style="flex: 1;">
                <span class="item-label">Tokens:</span>
                <span class="item-value">{{ i.consultingdata.doctor_token }}</span></div>

                <div style="flex: 1;">
                <span class="item-label">Fee:</span>
                <span class="item-value">{{ i.consultingdata.consulting_fee }}</span></div>

                <div style="flex: 1;">
                <a href="{% url 'webclinic:deleteconsultingdetails' i.id %}">Delete</a>
                <a href="{% url 'webclinic:updateconsultingdetails' i.id %}">Update</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    
    
</body>
</html>

{% endblock content %}