{% extends 'Clinic/Header.html' %}
{% load static %}
{% block content %}

<body>
    <h1 style="text-align: center; font-weight: bold; color: #000;">Doctors</h1>
    <div class="main-card"id="result">
        {% for c in clinicdoctors %}
        <div class="card">
            <div style="text-align: center; font-weight: bold; color: #000;">{{c.doctor.doctor_name}}</div>
            <br>
            <div colspan="4" align="center" style="color: red;">
                {% if c.clinicdoctors.doctor_status == "2" %}
                Request Approved |  <a href="{% url 'webclinic:consultingdetails' c.id %}">Add Details</a>
                <br><br>
                {% elif c.clinicdoctors.doctor_status == "3" %}
                
                <a href="{% url 'webclinic:consultingdetails' c.id %}">Add/Update Details</a>
                <br><br>
                {% else %}
                Pending
                {% endif %}</div>
            <div>{{i.clinic.clinic_contact}}</div>
            <div><a href="{% url 'webclinic:deletedoctor' c.id %}">Delete</a></div>
        </div>
        {% endfor %}
    </div>
</body>

</html>
{% endblock content %}