<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1 style="text-align: center;">Clinic Profile</h1>
    <table align="center" border="1">
        <tr>
            <td>Name</td>
            <td>{{clinic.clinic_name}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{clinic.clinic_contact}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{clinic.clinic_email}}</td>
        </tr>
        <tr>
            <td>Adress</td>
            <td>{{clinic.clinic_address}}</td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <a href="{% url 'webclinic:editprofile' %}">Editprofile</a>
                <a href="{% url 'webclinic:changepassword' %}">ChangePassword</a>
            </td>
        </tr>
    </table>
    {% if msg %}
    <script>
        alert("Link is sent to the {{msg}}")
        window.location = "{% url 'webclinic:homepage' %}"
    </script>
    {% endif %}
</body>
</html>