{% extends 'Pharmacy/Header.html' %}
{% load static %}
{% block content %}
<head>
    <style>
        th,
        td {
            padding: 10px;
            text-align: left;
            background-color: #f2f2f2;
            color: black;
            /* Add black font color */
        }

        table {
            border-collapse: collapse;
            width: 80%;
        }
        h1 {
            font-weight: 800; 
            color: #000000;
        }
    </style>
</head>
<div class="d-flex justify-content-center">
    <form action="" method="post" align="center" >
        {% csrf_token %}
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" id="" value="{{pharmacy.pharmacy_name}}"></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txt_contact" id="" value="{{pharmacy.pharmacy_contact}}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text"name="txt_address" id="" value="{{pharmacy.pharmacy_address}}"></input></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
{% endblock content %}