<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage pharmacy</title>
</head>
<body>
    {{pharmacy.pharmacy_name}}
    <a href="{% url 'webpharmacy:profile' %}">My Profile</a>
    <a href="{% url 'webpharmacy:editprofile' %}">Edit Profile</a>
    <a href="{% url 'webpharmacy:changepassword' %}">ChangePassword</a>
    <a href="{% url 'webpharmacy:users' %}">Users</a>
</body>
</html>
<form class="form-inline ">
    <input type="search" placeholder="Search">
    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
  </form>