{% extends 'Doctor/Header.html' %}
{% load static %}
{% block content %}
<body>
    <h2 style="text-align: center;">Patient Details</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="card2">
            <div style="display: flex; align-items: center; flex: 1; font-weight: bold; color: #000;">
                <div style="flex: 1; font-weight: bold; color: #000;">
                <img src="{{user.user_photo}}" width="100px" height="100px" alt="User Photo"></div>
            </div>
            <div style="flex: 1; font-weight: bold; color: #000; font-weight: bold; color: #000;">
                <div style="display: inline-block; width: 100px; vertical-align: top;">Name:</div>
                <div style="display: inline-block;">{{user.user_name}}</div>
            </div>
            <div style="flex: 1; font-weight: bold; color: #000;">
                <div style="display: inline-block; width: 100px; vertical-align: top;">Age:</div>
                <div style="display: inline-block;">{{user.user_age}}</div>
            </div>
            <div style="flex: 1; font-weight: bold; color: #000;">
                <div style="display: inline-block; width: 100px; vertical-align: top;">Address:</div>
                <div style="display: inline-block;">{{user.user_address}}</div>
            </div>
            <div style="margin-top: 20px;">
                <div style="flex: 1; font-weight: bold; color: #000;">
                    <label for="txt_description"
                        style="display: inline-block; width: 100px; vertical-align: top;">Description:</label>
                    <textarea name="txt_description" id="txt_description" style="width: 400px; height: 100px;"
                        required></textarea>
                </div>
                <div style="flex: 1; font-weight: bold; color: #000;">
                    <label for="txt_prescription"
                        style="display: inline-block; width: 100px; vertical-align: top;">Prescription:</label>
                    <textarea name="txt_prescription" id="txt_prescription" style="width: 400px; height: 100px;"
                        required></textarea>
                </div>
                <div style="flex: 1;">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </form>

</body>
</html>
{% endblock content %}