{% extends 'Doctor/Header.html' %}
{% load static %}
{% block content %}
<body>
    {% if clinicdoctors %}
    <h1 style="text-align: center;">Clinic Requests</h1>
    <form action="" method="post">
        <div class="card2">
            <div style="display: flex; align-items: center; margin-bottom: 10px; font-weight: bold;">
                <div style="flex: 1;">Clinic Name</div>
                <div style="flex: 2;">Action</div>
            </div>
            {% for i in clinicdoctors %}
            <div style="display: flex; align-items: center; margin-bottom: 10px; font-weight: bold; color: #000;">
                <div style="flex: 1;">{{i.clinic.clinic_name}}</div>
                <div style="flex: 2;">
                    <a href="{% url 'webdoctor:rejectclinic' i.id %}">Reject</a>
                    <a href="{% url 'webdoctor:updateclinic' i.id %}">Approve</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>    
    {% else %}
    <h1 style="color: red;" align="center">No More Request</h1>
    {% endif %}
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'webdoctor:clinicrequests' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}
