{% extends 'Doctor/Header.html' %}
{% load static %}
{% block content %}
<body>
    <h1 style="text-align: center;">Clinic Details</h1>
    <form action="" method="post">
        <div class="card2">
            <div style="display: flex; align-items: center; margin-bottom: 10px; font-weight: bold; color: #000;">
                <div>No.</div>
                <div style="flex: 1;">Clinic</div>
                <div style="flex: 1;">Action</div>
            </div>
            {% for i in clinicdoctors %}
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <div>{{forloop.counter}}</div>
                <div style="flex: 1;">{{i.clinic.clinic_name}}</div>
                <div style="flex: 1;">
                    {% if i.clinicdoctors.doctor_status == "2" %}
                        Request Accepted Pending to Add Details
                    {% elif i.clinicdoctors.doctor_status == "3" %}
                        <a href="{% url 'webdoctor:viewdetails' i.id%}">View Details </a>
                    {% else %}
                        Pending
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
    
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'webdoctor:clinicrequests' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}