{% extends 'Doctor/Header.html' %}
{% load static %}
{% block content %}
<body>
    <div style="margin: 100px auto; max-width: 400px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 20px;">
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="txt_name">Name:</label>
                <input type="text" name="txt_name" id="txt_name" value="{{doctor.doctor_name}}">
            </div>
            <div>
                <label for="txt_contact">Contact:</label>
                <input type="text" name="txt_contact" id="txt_contact" value="{{doctor.doctor_contact}}">
            </div>
            <div>
                <label for="sel_department">Department:</label>
                <select name="sel_department" id="sel_department">
                    {% for i in department %}
                    <option {% if i.id == doctor.department_id %} selected {% endif %} value="{{i.id}}">
                        {{i.department.department_name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="txt_address">Address:</label>
                <input type="text" name="txt_address" id="txt_address" value="{{doctor.doctor_address}}">
            </div>
            <div>
                <label for="txt_qualification">Qualification:</label>
                <input type="text" name="txt_qualification" id="txt_qualification" value="{{doctor.doctor_qualification}}">
            </div>
            <div>
                <label for="txt_about">About:</label>
                <textarea name="txt_about" id="txt_about">{{doctor.doctor_about}}</textarea>
            </div>
            <div style="text-align: center;">
                <input type="submit" value="Update">
            </div>
        </form>
    </div>    
</body>
</html>
{%  endblock content %}