{% load static %}

<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8" />
	<title>Doctor Homepage</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'Doctor/vendors/images/apple-touch-icon.png' %}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'Doctor/vendors/images/favicon-32x32.png' %}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'Doctor/vendors/images/favicon-16x16.png' %}" />

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet" />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'Doctor/vendors/styles/core.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Doctor/vendors/styles/icon-font.min.css' %}" />
	<link rel="stylesheet" type="text/css"
		href="{% static 'Doctor/src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}" />
	<link rel="stylesheet" type="text/css"
		href="{% static 'Doctor/src/plugins/datatables/css/responsive.bootstrap4.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Doctor/vendors/styles/style.css' %}" />
</head>

<body>
	<div class="header">
		<div class="header-left">

		</div>
		<div class="header-right">
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="{{ doctor.doctor_photo }}" alt="Doctor Photo"
								style="max-width: 100%; height: auto;">
						</span>


						<span class="user-name">{{doctor.doctor_name}}</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="{% url 'webdoctor:profile' %}"><i class="dw dw-user1"></i>
							Profile</a>
						<a class="dropdown-item" href="{% url 'webdoctor:editprofile' %}"><i
								class="dw dw-settings2"></i> Setting</a>
						<a class="dropdown-item" href="{% url 'webdoctor:changepassword' %}"><i class="dw dw-help"></i>
							Change Password</a>
						<a class="dropdown-item" href="{% url 'webdoctor:logout' %}"><i class="dw dw-logout"></i> Log
							Out</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="{% url 'webdoctor:logout' %}">
				<img src="{% static 'Main/img/Sync medica banner.png' %}" alt="Logo Image"
					style="width: 600px; height: auto; background-color: aliceblue;">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li>
						<a href="{% url 'webdoctor:clinicrequests' %}" class="dropdown-toggle no-arrow">
							<span class="micon bi bi-file-earmark-text"></span><span class="mtext">Clinic
								Requests</span>
						</a>
					</li>
					<li>
						<a href="{% url 'webdoctor:consultingdeatils' %}" class="dropdown-toggle no-arrow">
							<span class="micon bi bi-diagram-3"></span><span class="mtext">Consulting Details</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="xs-pd-20-10 pd-ltr-20">
			<div class="title pb-20">
				<h2 class="h3 mb-0">Hospital Overview</h2>
			</div>

			<div class="row pb-10">
				<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
					<div class="card-box height-100-p widget-style3">
						<div class="d-flex flex-wrap">
							<div class="widget-data">
								<div class="weight-700 font-24 text-dark">75</div>
								<div class="font-14 text-secondary weight-500">
									Appointment
								</div>
							</div>
							<div class="widget-icon">
								<div class="icon" data-color="#00eccf">
									<i class="icon-copy dw dw-calendar1"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
					<div class="card-box height-100-p widget-style3">
						<div class="d-flex flex-wrap">
							<div class="widget-data">
								<div class="weight-700 font-24 text-dark">1000+</div>
								<div class="font-14 text-secondary weight-500">
									Total Patient
								</div>
							</div>
							<div class="widget-icon">
								<div class="icon" data-color="#ff5b5b">
									<span class="icon-copy ti-heart"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
					<div class="card-box height-100-p widget-style3">
						<div class="d-flex flex-wrap">
							<div class="widget-data">
								<div class="weight-700 font-24 text-dark">400+</div>
								<div class="font-14 text-secondary weight-500">
									Consulting Cases
								</div>
							</div>
							<div class="widget-icon">
								<div class="icon">
									<i class="icon-copy fa fa-stethoscope" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
					<div class="card-box height-100-p widget-style3">
						<div class="d-flex flex-wrap">
							<div class="widget-data">
								<div class="weight-700 font-24 text-dark">50,000</div>
								<div class="font-14 text-secondary weight-500">Earning</div>
							</div>
							<div class="widget-icon">
								<div class="icon" data-color="#09cc06">
									<i class="icon-copy fa fa-money" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-box pb-10">
				<div class="h5 pd-20 mb-0">Recent Patient</div>
				<table class="data-table table nowrap">
					<thead>
						<tr>
							<th class="table-plus">Name</th>
							<th>Gender</th>
							<th>Weight</th>
							<th>Assigned Doctor</th>
							<th>Admit Date</th>
							<th>Disease</th>
							<th class="datatable-nosort">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-plus">
								<div class="name-avatar d-flex align-items-center">
									<div class="avatar mr-2 flex-shrink-0">
										<img src="{% static 'Doctor/vendors/images/photo4.jpg' %}"
											class="border-radius-100 shadow" width="40" height="40" alt="" />
									</div>
									<div class="txt">
										<div class="weight-600">Jennifer O. Oster</div>
									</div>
								</div>
							</td>
							<td>Female</td>
							<td>45 kg</td>
							<td>Dr. Callie Reed</td>
							<td>19 Oct 2020</td>
							<td>
								<span class="badge badge-pill" data-bgcolor="#e7ebf5"
									data-color="#265ed7">Typhoid</span>
							</td>
							<td>
								<div class="table-actions">
									<a href="#" data-color="#265ed7"><i class="icon-copy dw dw-edit2"></i></a>
									<a href="#" data-color="#e95959"><i class="icon-copy dw dw-delete-3"></i></a>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">
								<div class="name-avatar d-flex align-items-center">
									<div class="avatar mr-2 flex-shrink-0">
										<img src="{% static 'Doctor/vendors/images/photo5.jpg' %}"
											class="border-radius-100 shadow" width="40" height="40" alt="" />
									</div>
									<div class="txt">
										<div class="weight-600">Doris L. Larson</div>
									</div>
								</div>
							</td>
							<td>Male</td>
							<td>76 kg</td>
							<td>Dr. Ren Delan</td>
							<td>22 Jul 2020</td>
							<td>
								<span class="badge badge-pill" data-bgcolor="#e7ebf5" data-color="#265ed7">Dengue</span>
							</td>
							<td>
								<div class="table-actions">
									<a href="#" data-color="#265ed7"><i class="icon-copy dw dw-edit2"></i></a>
									<a href="#" data-color="#e95959"><i class="icon-copy dw dw-delete-3"></i></a>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">
								<div class="name-avatar d-flex align-items-center">
									<div class="avatar mr-2 flex-shrink-0">
										<img src="{% static 'Doctor/vendors/images/photo6.jpg' %}"
											class="border-radius-100 shadow" width="40" height="40" alt="" />
									</div>
									<div class="txt">
										<div class="weight-600">Joseph Powell</div>
									</div>
								</div>
							</td>
							<td>Male</td>
							<td>90 kg</td>
							<td>Dr. Allen Hannagan</td>
							<td>15 Nov 2020</td>
							<td>
								<span class="badge badge-pill" data-bgcolor="#e7ebf5"
									data-color="#265ed7">Infection</span>
							</td>
							<td>
								<div class="table-actions">
									<a href="#" data-color="#265ed7"><i class="icon-copy dw dw-edit2"></i></a>
									<a href="#" data-color="#e95959"><i class="icon-copy dw dw-delete-3"></i></a>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">
								<div class="name-avatar d-flex align-items-center">
									<div class="avatar mr-2 flex-shrink-0">
										<img src="{% static 'Doctor/vendors/images/photo9.jpg' %}"
											class="border-radius-100 shadow" width="40" height="40" alt="" />
									</div>
									<div class="txt">
										<div class="weight-600">Jake Springer</div>
									</div>
								</div>
							</td>
							<td>Female</td>
							<td>45 kg</td>
							<td>Dr. Garrett Kincy</td>
							<td>08 Oct 2020</td>
							<td>
								<span class="badge badge-pill" data-bgcolor="#e7ebf5" data-color="#265ed7">Covid
									19</span>
							</td>
							<td>
								<div class="table-actions">
									<a href="#" data-color="#265ed7"><i class="icon-copy dw dw-edit2"></i></a>
									<a href="#" data-color="#e95959"><i class="icon-copy dw dw-delete-3"></i></a>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">
								<div class="name-avatar d-flex align-items-center">
									<div class="avatar mr-2 flex-shrink-0">
										<img src="{% static 'Doctor/vendors/images/photo1.jpg' %}"
											class="border-radius-100 shadow" width="40" height="40" alt="" />
									</div>
									<div class="txt">
										<div class="weight-600">Paul Buckland</div>
									</div>
								</div>
							</td>
							<td>Male</td>
							<td>76 kg</td>
							<td>Dr. Maxwell Soltes</td>
							<td>12 Dec 2020</td>
							<td>
								<span class="badge badge-pill" data-bgcolor="#e7ebf5" data-color="#265ed7">Asthma</span>
							</td>
							<td>
								<div class="table-actions">
									<a href="#" data-color="#265ed7"><i class="icon-copy dw dw-edit2"></i></a>
									<a href="#" data-color="#e95959"><i class="icon-copy dw dw-delete-3"></i></a>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">
								<div class="name-avatar d-flex align-items-center">
									<div class="avatar mr-2 flex-shrink-0">
										<img src="{% static 'Doctor/vendors/images/photo2.jpg' %}"
											class="border-radius-100 shadow" width="40" height="40" alt="" />
									</div>
									<div class="txt">
										<div class="weight-600">Neil Arnold</div>
									</div>
								</div>
							</td>
							<td>Male</td>
							<td>60 kg</td>
							<td>Dr. Sebastian Tandon</td>
							<td>30 Oct 2020</td>
							<td>
								<span class="badge badge-pill" data-bgcolor="#e7ebf5"
									data-color="#265ed7">Diabetes</span>
							</td>
							<td>
								<div class="table-actions">
									<a href="#" data-color="#265ed7"><i class="icon-copy dw dw-edit2"></i></a>
									<a href="#" data-color="#e95959"><i class="icon-copy dw dw-delete-3"></i></a>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">
								<div class="name-avatar d-flex align-items-center">
									<div class="avatar mr-2 flex-shrink-0">
										<img src="{% static 'Doctor/vendors/images/photo8.jpg' %}"
											class="border-radius-100 shadow" width="40" height="40" alt="" />
									</div>
									<div class="txt">
										<div class="weight-600">Christian Dyer</div>
									</div>
								</div>
							</td>
							<td>Male</td>
							<td>80 kg</td>
							<td>Dr. Sebastian Tandon</td>
							<td>15 Jun 2020</td>
							<td>
								<span class="badge badge-pill" data-bgcolor="#e7ebf5"
									data-color="#265ed7">Diabetes</span>
							</td>
							<td>
								<div class="table-actions">
									<a href="#" data-color="#265ed7"><i class="icon-copy dw dw-edit2"></i></a>
									<a href="#" data-color="#e95959"><i class="icon-copy dw dw-delete-3"></i></a>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">
								<div class="name-avatar d-flex align-items-center">
									<div class="avatar mr-2 flex-shrink-0">
										<img src="{% static 'Doctor/vendors/images/photo1.jpg' %}"
											class="border-radius-100 shadow" width="40" height="40" alt="" />
									</div>
									<div class="txt">
										<div class="weight-600">Doris L. Larson</div>
									</div>
								</div>
							</td>
							<td>Male</td>
							<td>76 kg</td>
							<td>Dr. Ren Delan</td>
							<td>22 Jul 2020</td>
							<td>
								<span class="badge badge-pill" data-bgcolor="#e7ebf5" data-color="#265ed7">Dengue</span>
							</td>
							<td>
								<div class="table-actions">
									<a href="#" data-color="#265ed7"><i class="icon-copy dw dw-edit2"></i></a>
									<a href="#" data-color="#e95959"><i class="icon-copy dw dw-delete-3"></i></a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="title pb-20 pt-20">
				<h2 class="h3 mb-0">Quick Start</h2>
			</div>

			<div class="row">
				<div class="col-md-4 mb-20">
					<a href="#" class="card-box d-block mx-auto pd-20 text-secondary">
						<div class="img pb-30">
							<img src="{% static 'Doctor/vendors/images/medicine-bro.svg' %}" alt="" />
						</div>
						<div class="content">
							<h3 class="h4">Services</h3>
							<p class="max-width-200">
								We provide superior health care in a compassionate maner
							</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 mb-20">
					<a href="#" class="card-box d-block mx-auto pd-20 text-secondary">
						<div class="img pb-30">
							<img src="{% static 'Doctor/vendors/images/remedy-amico.svg' %}" alt="" />
						</div>
						<div class="content">
							<h3 class="h4">Medications</h3>
							<p class="max-width-200">
								Look for prescription and over-the-counter drug information.
							</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 mb-20">
					<a href="#" class="card-box d-block mx-auto pd-20 text-secondary">
						<div class="img pb-30">
							<img src="{% static 'Doctor/vendors/images/paper-map-cuate.svg' %}" alt="" />
						</div>
						<div class="content">
							<h3 class="h4">Locations</h3>
							<p class="max-width-200">
								Convenient locations when and where you need them.
							</p>
						</div>
					</a>
				</div>
			</div>

			<div class="footer-wrap pd-20 mb-20 card-box">
				Copyright © 2024 SyncMedica
			</div>
		</div>
	</div>
	<script src="{% static 'Doctor/vendors/scripts/script.min.js' %}"></script>
	<script src="{% static 'Doctor/vendors/scripts/process.js' %}"></script>
	<script src="{% static 'Doctor/vendors/scripts/layout-settings.js' %}"></script>
	<script src="{% static 'Doctor/src/plugins/apexcharts/apexcharts.min.js' %}"></script>
	<script src="{% static 'Doctor/vendors/scripts/core.js' %}"></script>
	<script src="{% static 'Doctor/src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'Doctor/src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'Doctor/src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'Doctor/src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'Doctor/vendors/scripts/dashboard3.js' %}"></script>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0"
			style="display: none; visibility: hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
</body>

</html>