{% extends 'Doctor/Header.html' %}
{% load static %}
{% block content %}
<body>
    <h1 style="text-align: center;">Details</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="card2">
            <div style="display: flex; align-items: center; margin-bottom: 10px; font-weight: bold; color: #000;">
                <div>No.</div>
                <div style="flex: 1;">Day</div>
                <div style="flex: 1;">Time</div>
                <div style="flex: 1;">Total Tokens</div>
                <div style="flex: 1;">Fee</div>
                <div style="flex: 1;">Appointments</div>
            </div>
            {% for i in consultingdetails %}
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <div>{{forloop.counter}}</div>
                <div style="flex: 1;">{{i.daydata.day_name}}</div>
                <div style="flex: 1;">{{i.timedata.time_from}} -- {{i.timedata.time_to}}</div>
                <div style="flex: 1;">{{i.consultingdata.doctor_token}}</div>
                <div style="flex: 1;">{{i.consultingdata.consulting_fee}}</div>
                <div style="flex: 1;">
                    <a href="{% url 'webdoctor:appointments' i.id %}">Appointments</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</body>
</html>
{% endblock content %}