<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
</head>
<body>
    <h1 style="text-align: center;">Appointments</h1>
    <form action="" method="post">
        <table align="center" border="1">
            <tr>
                <td>#</td>
                <td>Patient Name</td>
                <td>Appointment Date</td>
                <td align="center" colspan="2">Action</td>
            </tr>
            {% for i in appointments %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user.user_name}}</td>
                <td>
                    {{i.appointmentdetails.appointment_date}}
                </td>
                <td>
                    <td><a href="{% url 'webdoctor:prescription' i.id %}">Add Prescription</a></td>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'webdoctor:clinicrequests' %}"
    </script>
    {% endif %}
</body>
</html>