{% extends 'Doctor/Header.html' %}
{% load static %}
{% block content %}

<body>
    {% if appointments %}
    <h1 style="text-align: center;">Appointments</h1>
    <form action="" method="post">
        <div class="card2">
            <div style="display: flex; align-items: center; margin-bottom: 10px; font-weight: bold; color: #000;">
                <div>No</div>
                <div style="flex: 1;">Token Number</div>
                <div style="flex: 1;">Patient Name</div>
                <div style="flex: 1;">Appointment Date</div>
                <div style="flex: 1;">Action</div>
            </div>
            {% for i in appointments %}
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <div>{{forloop.counter}}</div>
                <div style="flex: 1;">{{i.appointmentdetails.token}}</div>
                <div style="flex: 1;">{{i.user.user_name}}</div>
                <div style="flex: 1;">{{i.appointmentdetails.appointment_date}}</div>
                <div style="flex: 1;">
                    <a href="{% url 'webdoctor:prescription' i.id %}">Add Prescription</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
    {% else %}
    <h1 style="color: red;" align="center">No Appointment Tokens</h1>
    {% endif %}

    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'webdoctor:clinicrequests' %}"
    </script>
    {% endif %}
</body>

</html>
{% endblock content %}