{% extends 'User/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Clinic</title>
</head>
<body>
    <div style="margin: 100px;">
        <form action="" method="post">
            {% csrf_token %}
            <div style="text-align: center;">
                <div>
                    <label for="sel_district" style="color: black;">District</label>
                    <select name="sel_district" id="sel_district">
                        <option value="">...Select...</option>
                        {% for i in dis %}
                        <option value="{{i.id}}">{{i.district.district_name}}</option>
                        {% endfor %}
                    </select>
                    <label for="sel_place" style="color: black;">Place</label>
                    <select name="sel_place" id="sel_place">
                        <option value="">...Select...</option>
                    </select>
                </div>
                <div style="margin-top: 10px;">
                    <input type="submit" value="Search" style="text-align: center;">
                </div>
            </div>
        </form>
    </div>
    
    <div class="main-card"id="result" align="center">
        {% for i in clinic %}
        <div class="card">
            <div><img src="{{i.clinic.clinic_photo}}" width="150" height="150" alt=""></div>
            <div>{{i.clinic.clinic_name}}</div>
            <div>{{i.clinic.clinic_contact}}</div>
            <div><a href="{% url 'webuser:viewdoctors' i.id %}">View Doctors</a></div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$("#sel_district").change(function () {
    var did = $(this).val();
    var pid = document.getElementById("sel_place").value;
    var ur = "{% url 'webguest:ajaxplace' %}";
    $.ajax({
        url: ur,
        data: { disd: did, },
        success: function (data) {
            $("#sel_place").html(data);

            var ur = "{% url 'webuser:ajaxclinic' %}";
            $.ajax({
                url: ur,
                data: { pid: pid,did:did },
                success: function (data) {
                    $("#result").html(data);
                },
            });
        },
    });
});


$("#sel_place").change(function () {
    var pid = $(this).val();
    var did = document.getElementById("sel_district").value;
    var ur = "{% url 'webuser:ajaxclinic' %}";
    $.ajax({
        url: ur,
        data: { pid: pid,did:did, },
        success: function (data) {
            $("#result").html(data);
        },
    });
});
</script>
</body>
</html>

{% endblock content %}