{% load static %}
<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8" />
	<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'Doctor/vendors/images/apple-touch-icon.png' %}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'Doctor/vendors/images/favicon-32x32.png' %}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'Doctor/vendors/images/favicon-16x16.png' %}" />

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet" />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'Doctor/vendors/styles/core.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Doctor/vendors/styles/icon-font.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Doctor/src/plugins/jquery-steps/jquery.steps.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Doctor/vendors/styles/style.css' %}" />
	<style>
		.image-preview {
			display: flex;
			justify-content: center;
			/* Horizontally center the content */
		}

		.image-preview {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			border: 3px solid #ccc;
			position: relative;
		}

		.image-preview-button {
			cursor: pointer;
			display: block;
			text-align: center;
			font-size: 12px;
			color: #007bff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	</style>

</head>

<body class="login-page">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="login.html">
					<img src="{% static 'Doctor/vendors/images/deskapp-logo.svg' %}" alt="" />
				</a>
			</div>
			<div class="login-menu">
				<ul>
					<li><a href="login.html">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7">
					<img src="{% static 'Doctor/vendors/images/register-page-img.png' %}" alt="" />
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="register-box bg-white box-shadow border-radius-10">
						<div class="wizard-content">
							<form class="tab-wizard2 wizard-circle wizard">
								<h5>Basic Account Credentials</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<form action="" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<div class="form-group row">
												<label class="col-sm-4 col-form-label"></label>
												<div class="col-sm-8">
													<div class="image-preview" id="image-preview">
														<label for="txt_photo" class="image-preview-button"
															id="image-preview-button">Add Profile</label>
													</div>
													<input type="file" style="display: none;" class="form-control-file"
														id="txt_photo" name="txt_photo" accept="image/*"
														onchange="previewImage(this)">
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label">Email</label>
												<div class="col-sm-8">
													<input type="email" name="txt_email" id="" value=""
														class="form-control" required />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-4 col-form-label">Password</label>
												<div class="col-sm-8">
													<input type="password" name="txt_password" id="" value=""
														class="form-control" required />
												</div>
											</div>
									</div>
								</section>
								<!-- Step 2 -->
								<h5>Personal Information</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Name</label>
											<div class="col-sm-8">
												<input type="text" name="txt_name" id="" value="" class="form-control"
													required />
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">contact</label>
											<div class="col-sm-8">
												<input type="text" name="txt_contact" id="" class="form-control"
													required />
											</div>
										</div>
										<div class="form-group row align-items-center">
											<label class="col-sm-4 col-form-label">Gender</label>
											<div class="col-sm-8">
												<div class="custom-control custom-radio custom-control-inline pb-0">
													<input type="radio" name="radio_gender" id="male" value="Male"
														class="custom-control-input" />
													<label class="custom-control-label" for="male">Male</label>
												</div>
												<div class="custom-control custom-radio custom-control-inline pb-0">
													<input type="radio" name="radio_gender" id="female" value="Female"
														class="custom-control-input" />
													<label class="custom-control-label" for="female">Female</label>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Age</label>
											<div class="col-sm-3">
												<input type="text" name="txt_age" id="" class="form-control" required />
											</div>
										</div>
									</div>
								</section>
								<!-- Step 3 -->
								<h5>Communication Address</h5>
								<section>
									<div class="form-wrap max-width-600 mx-auto">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">District</label>
											<div class="col-sm-8" >
												<select  name="sel_district" id="sel_district" >
													<option value="">...Select...</option>
													{% for i in district %}
													<option value="{{i.id}}">{{i.district.district_name}}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Place</label>
											<div class="col-sm-8">
												<select  name="sel_place" id="sel_place">
													<option value="">...Select...</option>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Address</label>
											<div class="col-sm-10">
												<input type="textarea" name="txt_address" id="" value=""
													class="form-control" />
											</div>
										</div>
									</div>
								</section>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- success Popup html Start -->

	<!-- success Popup html End -->
	<!-- js -->
	<script src="{% static 'Doctor/vendors/scripts/core.js' %}"></script>
	<script src="{% static 'Doctor/vendors/scripts/script.min.js' %}"></script>
	<script src="{% static 'Doctor/vendors/scripts/process.js' %}"></script>
	<script src="{% static 'Doctor/vendors/scripts/layout-settings.js' %}"></script>
	<script src="{% static 'Doctor/src/plugins/jquery-steps/jquery.steps.js' %}"></script>
	<script src="{% static 'Doctor/vendors/scripts/steps-setting.js' %}"></script>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0"
			style="display: none; visibility: hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
</body>
{% if msg %}
<script>
	alert("{{msg}}")
	window.location = "{% url 'webguest:userregistration' %}"
</script>
{% endif %}

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	function previewImage(input) {
		var preview = document.getElementById('image-preview');
		var button = document.getElementById('image-preview-button');
		var file = input.files[0];
		var reader = new FileReader();

		reader.onloadend = function () {
			preview.style.backgroundImage = "url('" + reader.result + "')";

			button.style.display = 'none';
		}

		if (file) {
			reader.readAsDataURL(file);
		} else {
			preview.style.backgroundImage = null;
			button.style.display = 'block'; // Show the "+" button
		}
	}

	$("#sel_district").change(function () {
		var did = $(this).val();
		var ur = "{% url 'webguest:ajaxplace' %}"
		$.ajax({
			url: ur,
			data: { disd: did, },
			success: function (data) {
				$("#sel_place").html(data);
			},
		});
	});
</script>